/* ヘッダー
==================*/
.header {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  position: relative;
}
.scroll {
  position: fixed;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
  animation-name: anime;
  animation-duration: 1s;
  opacity: 0.8;
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

/* アプリタイトル
  ==================*/
.checker-ttl {
  display: flex;
  align-items: center;
}
.checker-ico {
  padding: 0 25px;
}
.inner-contents {
  margin: 10px 30px;
}
.prefecture-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 40px;
}
.prefecture-title {
  padding: 0 1rem;
}
.prefectures {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* 都道府県の選択ゾーン
    ==================*/
.prefecture-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 40px;
}
.prefecture-card {
  flex: 0 0 auto;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 4px;
}
.prefecture-card input[type="checkbox"] {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .prefecture-card {
    width: calc(50% - 10px);
  }
}
@media (max-width: 480px) {
  .prefecture-card {
    width: calc(100% - 10px);
  }
}

/* グラフゾーン
    ==================*/
.graph-data {
  margin: 20px auto;
  max-width: 1280px;
  width: 100%;
}
.graph-data__title {
  padding-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* 練習ゾーン
==================*/
.test-inner {
  text-align: center;
}

/*==================*/

/* 練習ゾーン TypeScript
==================*/
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.inputText {
  padding: 10px;
}

.submitButton {
  padding: 8px 15px;
  cursor: pointer;
}

.todoList li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input {
  padding: 7px;
}

/*==================*/
